:root {
    --light-gray: #f2f0f0;
    --gray: #242424;
    --dark-gray: #a8a8a8;
    --darker-gray: #f7f7f7;
    --logo-blue: #1d4ed8;
    --darker-blue: #dbeafe;
    --lighter-blue: #1d4ed8;
    --even-lighter-blue: #1d4ed8;
    --lightest-blue: #263257;
    --red: #ff0000;
    --dark-orange: #ed0707;
    --light-orange: #f9c56c;
    --even-lighter-orange: #fcdbb8;
    --strange-yellow: #dbae2e;
    --green: #34d399;
    --light-green: #e6f8dd;
    --medium-green: #a0c99c;
    --dark-green: #059669;
    accent-color: #1d4ed8;
    accent-color: var(--logo-blue);
}

main {
    background: var(--gray);
    color: var(--light-gray);
}

footer>* {
    color: var(--light-gray);
}

.profile .blurbs .heading,
.profile .friends .heading {
    color: var(--light-gray);
}

.heading {
    background: var(--logo-blue) !important;
}