:root {
    --light-gray: #f2f0f0;
    --gray: #242424;
    --dark-gray: #a8a8a8;
    --darker-gray: #f7f7f7;
    --logo-blue: #1D4ED8;
    --darker-blue: #DBEAFE;
    --lighter-blue: #1D4ED8;
    --even-lighter-blue: #1D4ED8;
    --lightest-blue: #263257;
    --red: #FF0000;
    --dark-orange: #ED0707;
    --light-orange: #f9c56c;
    --even-lighter-orange: #fcdbb8;
    --strange-yellow: #dbae2e;
    --green: #34D399;
    --light-green: #E6F8DD;
    --medium-green: #A0C99C;
    --dark-green: #059669;
    accent-color: #1D4ED8;
    accent-color: var(--logo-blue);
}

main {
    background: var(--gray);
    color: var(--light-gray);
}

footer > * {
    color: var(--light-gray);
}

.profile .blurbs .heading, .profile .friends .heading {
    color: var(--light-gray);
}

.heading {
    background: var(--logo-blue) !important;
}